# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=7934227258:AAHRWF1tt-n5SWY-fWXnEB1lE-x8HIihsxw
TELEGRAM_CHAT_ID=1478281629

# Database Settings
DJANGO_DB_NAME=landing_db
DJANGO_DB_USER=postgres
DJANGO_DB_PASSWORD=postgres
DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432 